<header class="header">
  <div class="logo">
    <img src="assets/images/logo.PNG" alt="Excellia Solutions">
  </div>

  <nav class="nav-links">
    <div class="nav-icon" (click)="navigateToHome()" matTooltip="Accueil" matTooltipPosition="below">
      <mat-icon class="home-icon">home</mat-icon>
    </div>
    <div class="nav-icon" (click)="navigateToTeam()" matTooltip="Équipe" matTooltipPosition="below">
      <mat-icon class="team-icon">groups</mat-icon>
    </div>
    
    <div class="notification-icon-wrapper">
      <mat-icon class="notification-icon" (click)="showNotifications()" matTooltip="Notifications" matTooltipPosition="below">notifications</mat-icon>
      <span class="badge" *ngIf="notificationCount > 0 && !showNotificationsDropdown">{{ notificationCount }}</span>
    </div>
    
    <div class="notification-dropdown" *ngIf="showNotificationsDropdown">
      <div class="dropdown-header">
        <span>Notifications</span>
        <button class="close-btn" (click)="showNotifications()">×</button>
      </div>
      <div class="dropdown-content">
        <div *ngFor="let notification of notifications" class="notification-item" [ngClass]="{'read': notification.read}" (click)="goToDemande(notification)">
          <img [src]="notification.userImage || 'assets/icons/user-login-icon-14.png'" alt="User Avatar" class="user-avatar">
          <div class="notification-details">
            <div class="notification-user">
              <span class="user-name">{{ notification.userName }}</span>
            </div>
            <div class="notification-message">{{ formatNotificationMessage(notification) }}</div>
            <span class="notification-time">{{ notification.createdAt | date:'shortTime' }}</span>
          </div>
        </div>
        <div *ngIf="notifications.length === 0" class="no-notifications">Aucune notification</div>
      </div>
    </div>
  </nav>

  <div class="user-info">
    <div class="user-details">
      <span class="username clickable" (click)="navigateToProfile()" matTooltip="Mon Profil" matTooltipPosition="below">{{ user ? (user.nom + ' ' + user.prenom) : 'Non connecté' }}</span>
      <img [src]="getUserImage()" alt="User Avatar" class="user-avatar">
    </div>
    <div class="logout-icon" (click)="logout()" matTooltip="Déconnexion" matTooltipPosition="below">
      <mat-icon>logout</mat-icon>
    </div>
  </div>
</header>