<div class="post-creator" [class.sidebar-collapsed]="isSidebarCollapsed">
  <div class="post-creator-header">
    <img [src]="getDefaultUserPhoto()" alt="Profile" class="user-avatar">
    <div class="post-input-container">
      <textarea
        [(ngModel)]="newPostContent"
        placeholder="Que souhaitez-vous partager ?"
        class="post-textarea"
        maxlength="2000" 
        (input)="validateContentLength()" 
      ></textarea>
    </div>
  </div>

  <div class="emoji-picker-container" *ngIf="showEmojiPicker">
    <div class="emoji-picker">
      <span *ngFor="let emoji of emojis" (click)="addEmoji(emoji)" class="emoji">{{ emoji }}</span>
    </div>
  </div>

  <div class="post-creator-footer" (click)="$event.stopPropagation()">
    <div class="file-attachment">
      <!-- Media Attachment (Images/Videos) -->
      <ng-container *ngIf="!selectedFile; else selectedFileTemplate">
        <label for="post-file-input" class="attachment-button">
          <mat-icon>image</mat-icon>
          <span></span>
        </label>
        <input
          id="post-file-input"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*,video/*"
          class="hidden-input"
        >
      </ng-container>

      <ng-template #selectedFileTemplate>
        <div class="selected-file">
          <span class="file-name">{{ selectedFile?.name }}</span>
          <button class="remove-file-button" (click)="removeSelectedFile()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>

      <!-- Document Attachment -->
      <ng-container *ngIf="!selectedDocument; else selectedDocumentTemplate">
        <label for="post-document-input" class="attachment-button">
          <mat-icon>description</mat-icon>
          <span></span>
        </label>
        <input
          id="post-document-input"
          type="file"
          (change)="onDocumentSelected($event)"
          accept=".pdf,.doc,.docx"
          class="hidden-input"
        >
      </ng-container>

      <ng-template #selectedDocumentTemplate>
        <div class="selected-file">
          <span class="file-name">{{ selectedDocument?.name }}</span>
          <button class="remove-file-button" (click)="removeSelectedDocument()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>

      <button class="emoji-toggle" (click)="toggleEmojiPicker($event)">
        <mat-icon>emoji_emotions</mat-icon>
      </button>
    </div>

    <button
      class="post-button"
      [disabled]="isSubmitting || contentLengthError"
      [class.loading]="isSubmitting"
      (click)="addPost()"
    >
      <span *ngIf="!isSubmitting">Publier</span>
      <span *ngIf="isSubmitting" class="spinner"></span>
    </button>
  </div>

  <!-- Error Message -->
  <div class="error-message" *ngIf="errorMessage">
    <mat-icon>error_outline</mat-icon>
    <span>{{ errorMessage }}</span>
  </div>
</div>