<div class="feature-card" 
     [@hover]="hoverState"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()">
  <div class="icon-container">
    <svg xmlns="http://www.w3.org/2000/svg" 
         fill="none" 
         viewBox="0 0 24 24" 
         stroke="currentColor" 
         class="feature-icon">
      <path stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            [attr.d]="getIconPath()">
      </path>
    </svg>
  </div>
  <h4 class="feature-title">{{ title }}</h4>
  <p class="feature-description">{{ description }}</p>
</div>