<div class="container">
    
    <div class="auth-buttons">
      <a (click)="navigateTo('login')" class="auth-btn">Se Connecter</a>
      
    </div>
  
    <img
      src="assets/images/fcd3.jpg"
      alt=""
      class="background-image"
    />
    <div class="blur-overlay hidden sm:block" aria-hidden="true">
      <div class="blur-shape"></div>
    </div>
    <div class="blur-overlay-top" aria-hidden="true">
      <div class="blur-shape"></div>
    </div>
    <div class="content-wrapper">
      <div class="intro-section">
        <h2 class="title">PORTAIL RH - EXCELLIA SOLUTIONS</h2>
        <p class="description">
          Bienvenue sur votre espace RH – Notre plateforme , au service de notre excellence.

        </p>
      </div>
      <div class="links-and-stats">
        <div class="links">
          <a href="#" class="link">Open roles <span aria-hidden="true">→</span></a>
          <a href="#" class="link">Internship program <span aria-hidden="true">→</span></a>
          <a href="#" class="link">Our values <span aria-hidden="true">→</span></a>
          <a href="#" class="link">Meet our leadership <span aria-hidden="true">→</span></a>
        </div>
        <dl class="stats">
          <div class="stat-item">
            <dt class="stat-label">La Marsa, Les berges du Lac 2</dt>
            <dd class="stat-value">Siège social</dd>
          </div>
          <div class="stat-item">
            <dt class="stat-label">Full-time colleagues</dt>
            <dd class="stat-value">300+</dd>
          </div>
          <div class="stat-item">
            <dt class="stat-label">Heures par semaine</dt>
            <dd class="stat-value">40</dd>
          </div>
          
        </dl>
      </div>
    </div>
  </div>