<div class="collab-home">
    <div class="success-message" *ngIf="successMessage">
        {{ successMessage }}
    </div>

    <app-header></app-header>

    <div class="main-content">
        <app-side-bar-manager (sidebarStateChange)="onSidebarStateChange($event)"></app-side-bar-manager>
        
        <div class="feed" [class.sidebar-collapsed]="isSidebarCollapsed">
            <div class="welcome-container">
                <h2 class="welcome-message">Bonjour, avez-vous des idées à poser aujourd'hui !</h2>
                <div class="idea-icon">
                </div>
                <button mat-fab color="primary" class="add-idea-btn" (click)="openAddIdeaDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div class="search-bar">
                <input [(ngModel)]="searchQuery" (input)="searchIdeas()" placeholder="Rechercher une idée..." class="search-input" />
                <mat-icon class="search-icon">search</mat-icon>
            </div>

            <div class="ideas-grid">
                <div class="idea-card"  *ngFor="let idea of filteredIdeas">
                    <div class="user-info">
                        <img [src]="getImageUrl(idea.userPhoto)" alt="User Photo" class="user-photo" (error)="onImageError($event)" />
                        <div class="user-details">
                            <span class="user-name">{{ idea.userPrenom }} {{ idea.userNom }}  </span>
                            <span class="post-date">{{ idea.createdAt | date:'short' }}</span>
                        </div>
                        <div class="actions" *ngIf="isAuthenticatedUser(idea)">
                            <button mat-icon-button (click)="startEditing(idea)">
                                <mat-icon class="icon">edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteIdea(idea.id)">
                                <mat-icon class="icon">delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="idea-content">
                        <ng-container *ngIf="editingIdeaId === idea.id; else showIdea">
                            <input [(ngModel)]="editedTopic" placeholder="Modifier le sujet" class="edit-topic-input" />

                            <textarea [(ngModel)]="editedIdeaContent" rows="3" class="edit-input"></textarea>
                            <div class="form-actions">
                                <label for="edit-idea-image-upload" class="upload-btn">
                                    <mat-icon>attach_file</mat-icon> Changer l'image
                                </label>
                                <input id="edit-idea-image-upload" type="file" (change)="onEditFileSelected($event)" accept="image/*" style="display: none;" />
                                <button  class="button" (click)="saveEdit()">Enregistrer</button>
                                <button  class="button" (click)="cancelEdit()">Annuler</button>
                            </div>
                        </ng-container>
                        <ng-template #showIdea>
                            <h3 class="idea-topic">{{ idea.topic }}</h3>
                            <div *ngIf="idea.image; else noImage">
                                <img [src]="getImageUrl(idea.image)" alt="Idea photo" (click)="navigateTo(idea.id)" class="idea-image" (error)="onImageError($event)" />                            </div>
                            <ng-template #noImage>
                                <p>Aucune image disponible pour cette idée.</p>
                            </ng-template>
                        </ng-template>
                    </div>

                    <div class="interaction-bar">
                        <div class="interaction-item">
                            <mat-icon [ngClass]="{'liked': isLikedByUser(idea.id)}" (click)="toggleLike(idea.id)">favorite</mat-icon>
                            <span>{{ getLikeCount(idea.id) }}</span>
                        </div>

                        <div class="comment">
                            <mat-icon >comment</mat-icon>
                            <span>{{ getCommentCount(idea.id) }}</span>
                        </div>

                        <div class="rating">
                            <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{'filled': star <= getAverageRating(idea)}">star</mat-icon>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>