@import '../../styles/variables';
@import '../../styles/mixins';

.feed-container {
  padding: $spacing-lg;
  background-color: $background-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}
.news {
  margin-top: -10px;
}
.feed-creator {
  display: flex;
  max-width: 900px;
  margin-left: 40px;
  flex-direction: column;
  gap: $spacing-md;
  transform: translateY(-20px); // ajuste la valeur selon le besoin

}
.feed-posts {
  display: flex;
  max-width: 900px;
  margin-left: 40px;
  flex-direction: column;
  gap: $spacing-md;
}

.post-card-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-sm;
  padding: $spacing-xl;
  background-color: $card-background;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-sm;
  text-align: center;
  
  mat-icon {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    color: $primary-light;
    margin-bottom: $spacing-sm;
  }
  
  p {
    color: $text-secondary;
    margin: 0;
    
    &:first-of-type {
      font-size: 1.2rem;
      font-weight: 500;
      color: $text-primary;
    }
  }
}

// Responsive adjustments
@include respond-to('small') {
  .feed-container {
    padding: $spacing-md $spacing-sm;
  }
}