<div class="feed-container">
  <!-- Success Message -->
  <app-success-message *ngIf="successMessage" [message]="successMessage"></app-success-message>

  <!-- News Carousel -->
  <app-news-carousel class="news" [news]="news"></app-news-carousel>

  <!-- Post Creator -->
  <app-post-creator class="feed-creator"
    [userId]="userId" 
    [userPhoto]="userPhoto" 
    [isSidebarCollapsed]="isSidebarCollapsed"
    (postCreated)="onPostCreated($event)">
  </app-post-creator>

  <!-- Feed Posts -->
  <div class="feed-posts">
    <ng-container *ngIf="publications.length > 0; else noPostsTemplate">
      <div class="post-card-container" *ngFor="let post of publications; trackBy: trackByPostId">
        <app-post-card
          [post]="post"
          [userId]="userId"
          [isLiked]="userLikes[post.id!]"
          [likeCount]="likeSummaries[post.id!].totalLikes || 0"
          [isOwnPost]="post.userId.toString() === userId"
          (imageClick)="openImageViewer(getImageUrl(post.mediaUrl!))"
          (postUpdated)="onPostUpdated($event)"
          [isSidebarCollapsed]="isSidebarCollapsed"
          (postDeleted)="onPostDeleted($event.id!)">
        </app-post-card>
      </div>
    </ng-container>
    
    <ng-template #noPostsTemplate>
      <div class="no-posts">
        <mat-icon>forum</mat-icon>
        <p>Aucune publication pour le moment.</p>
        <p>Soyez le premier à publier quelque chose !</p>
      </div>
    </ng-template>
  </div>

  <!-- Image Modal -->
  <app-image-modal 
    *ngIf="selectedImage" 
    [imageUrl]="selectedImage" 
    (close)="closeImageViewer()">
  </app-image-modal>
</div>